.footer{
  background-color: #1C2536;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-img{
  width: 50px;
  height: 50px;
  color: #6366F1;
}

.footer-links{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.ul-links{
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.ul-links li{
  margin-bottom: 20px;
  font-size: 16px;
}

.ul-links li a{
  text-decoration: none;
  color: #6366F1;
}

.ul-links li a:hover{
  color: white;
}
.ul-links li:last-child{
  margin-bottom: 0;
}